{% extends 'base.html.twig' %}
{% block title %}Produits{% endblock %}
{% block additional_css %}
  <link rel="stylesheet" href="{{asset('css/show.css')}}">
  <script src="{{asset('script/products.js')}}"></script>
{% endblock %}
{% block body %}
  <div class="alert alert-error" id="alertFail" role="alert"></div>
  <div class="alert alert-success" id="alertSuccess" role="alert"></div>
  <div class="progress" id="progress">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <!-- Button trigger modal -->
  <div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Ajouter un produit
  </button> 
  <button id="button" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer tous les produits sélectinnés ?')">supprimer plusieurs</button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModale" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="myModale">Ajout d'un produit</h5>
          <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>

        </div>
        <div class="modal-body">
          {{ form_start(form, {'name':'addProduct', 'attr':{'id' : 'addProduct1'} })  }}
          
          {{ form_errors(form) }}
          {{ form_row(form.type) }}
          
          {{ form_row(form.price) }}
          
          {{ form_row(form.image) }}
          {{ form_row(form.nouveau, {label_attr: {class: 'switch-custom'}}) }}
          {{ form_end(form) }} 

          {{ form_start(formEliquid) }}
          {{ form_row(formEliquid.Dominant_notes) }}
          {{ form_row(formEliquid.Flavour) }}
          {{ form_row(formEliquid.PG) }}
          {{ form_row(formEliquid.VG)}}

          {{ form_row(formEliquid.Nicotine, {'attr': {'list':'tickmarks' }}) }}
          {{ form_row(formEliquid.Capacity) }}
          {{ form_row(formEliquid.Origin) }}
          {{ form_end(formEliquid) }}

          {{form(formEcig)}}

          {{form(formAto)}}

          {{form(formAccessory)}}

          {{form(formDiy)}}
          {{ form_start(formFullKit, {'attr':{'id' : 'fullkitForm'} })  }}

          {{form(formFullKit)}}
          <input type="hidden" name="addProduct" value="addProduct">
        </div>
        <div class="modal-footer">
          {# {{ form_row(form.submit, { 'label': 'Submit me' }) }} #}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div> 
    <table id="myTable" class="hover stripe" style="width:112%">
      <thead>
        <th></th>
        <th style="display:none">id</th>
        <th>Type</th>
        <th>Prix</th>
        <th>Image</th>
        <th>Nouveauté</th>
        <!-- Voir Plus -->
        <th>Modifier</th>
        <th>Supprimer</th>
        <th style="display:none;">1</th>
        <th style="display:none;">2</th>
        <th style="display:none;">3</th>
        <th style="display:none;">4</th>
        <th style="display:none;">5</th>
        <th style="display:none;">6</th>
        <th style="display:none;">7</th>
        <th style="display:none;">8</th>
        <th style="display:none;">9</th>
        <th style="display:none;">10</th>
        <th style="display:none;">11</th>
        <th style="display:none;">12</th>
        <th style="display:none;">13</th>
        <th style="display:none;">14</th>
        <th style="display:none;">15</th>
        <th style="display:none;">16</th>
        <th style="display:none;">17</th>
        <th style="display:none;">18</th>
        <th style="display:none;">19</th>
        <th style="display:none;">20</th>
        <th style="display:none;">21</th>
        <th style="display:none;">22</th>
        <th style="display:none;">23</th>
        <th style="display:none;">24</th>
        <th style="display:none;">25</th>
        <th style="display:none;">26</th>

      </thead>
      <tbody>
        {% for product in products %}
          {% set updateForm = _context['form' ~ loop.index0] %}
          <tr>
            <td></td>
            <td style='display:none'>{{product.id}}</td>
            <td>{{product.type}}</td> 
            <td>{{product.price}}</td>
            <td><img src="{{ asset(''~ product.image ~'') }}" alt="Symfony!" height=120 width=120/></td>
            <td>
              <form name="formNew">
              {% if product.nouveau == 1 %}
                <input type="checkbox" name="new" id="{{product.id}}" checked="checked">
              {% else %}
                <input type="checkbox" name="new" id="{{product.id}}">
              {% endif %}
              </form>
              </td>
              <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary edit_modal" data-bs-toggle="modal" data-bs-target={{"#modif" ~ product.id }}><i class="far fa-edit"></i></button>
                <!-- Modal -->
                <div class="modal fade update" id={{"modif" ~ product.id }} tabindex="-1" role="dialog" aria-labelledby={{"modif" ~ product.id }} aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id={{"modif" ~ product.id }}>Modifier un produit</h5>
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                        {{ form_start(updateForm, {'attr':{'id' : 'editProduct' ~ product.id}}) }}
                        {{ form_errors(updateForm) }}
                        {{ form_row(updateForm.brand, {id: updateForm.brand.vars.id ~ loop.index0}) }}
                        {{ form_row(updateForm.name, {id: updateForm.name.vars.id ~ loop.index0}) }}
                        {{ form_row(updateForm.type, {id: updateForm.type.vars.id ~ loop.index0}) }}
                        {{ form_row(updateForm.price, {id: updateForm.price.vars.id ~ loop.index0}) }}
                        {{form_row(updateForm.image, {id: updateForm.image.vars.id ~ loop.index0})}}
                        {{ form_row(updateForm.nouveau, {id: updateForm.nouveau.vars.id ~ loop.index0, label_attr: {class: 'switch-custom'}}) }}
                        <span style='display:none;'>{{form_rest(updateForm)}}</span>
                        <input type="hidden" name={{"editProduct" ~ loop.index0 }} value="editProduct">
                        <input type="hidden" name="id" value={{product.id}}>
                        {{ form_end(updateForm)}}
                        {% for formsEliquids in formsEliquid %}
                          {# {% if formsEliquids.parent.vars.value != '' %} #}
                            {% if formsEliquids.vars.value.product  == updateForm.vars.value.id %}
                              {% set updateEliquidForm = _context['formsEliquid'][loop.index0] %}
                              {{ form_start(updateEliquidForm, {'attr':{'id' : 'editSpe' ~ product.id}}) }}
                              {{ form_errors(updateEliquidForm) }} 
                              {{ form_row(updateEliquidForm.collection, {id: updateEliquidForm.collection.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.Flavour, {id: updateEliquidForm.Flavour.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.Dominant_notes, {id: updateEliquidForm.Dominant_notes.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.TypeOfAroma, {id: updateEliquidForm.TypeOfAroma.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.PG, {id: updateEliquidForm.PG.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.VG, {id: updateEliquidForm.VG.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.addedAlcohol, {id: updateEliquidForm.addedAlcohol.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.TypeOfNicotine, {id: updateEliquidForm.TypeOfNicotine.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.Nicotine, {id: updateEliquidForm.Nicotine.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.Capacity, {id: updateEliquidForm.Capacity.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.recommendedDosage, {id: updateEliquidForm.recommendedDosage.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEliquidForm.maturationTime, {id: updateEliquidForm.maturationTime.vars.id ~ loop.index0}) }}

                              {{ form_row(updateEliquidForm.Origin, {id: updateEliquidForm.Origin.vars.id ~ loop.index0}) }}

                              <span style='display:none;'>{{ form_rest(updateEliquidForm) }}</span>
                              {{ form_end(updateEliquidForm)}}
                            {% endif %}
                          {# {% endif %} #}
                        {% endfor %}
                        {% for formsEcigsT in formsEcig %}
                          {# {% if formsEcigsT.vars.value != "" %} #}
                            {% if formsEcigsT.vars.value.product  == updateForm.vars.value.id %}
                              {% set updateEcigForm = _context['formsEcig'][loop.index0] %}
                              {{ form_start(updateEcigForm, {'attr':{'id' : 'editSpe' ~ product.id}}) }}
                              {{ form_errors(updateEcigForm) }}
                              {{ form_row(updateEcigForm.power, {id: updateEcigForm.power.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEcigForm.battery, {id: updateEcigForm.battery.vars.id ~ loop.index0}) }}
                              {{ form_row(updateEcigForm.autonomy, {id: updateEcigForm.autonomy.vars.id ~ loop.index0}) }}
                              <span style='display:none;'> {{ form_rest(updateEcigForm) }}  </span>
                              {{ form_end(updateEcigForm) }} 
                            {% endif %} 
                          {# {% endif %} #}
                        {% endfor %}
                        {% for formsAtos in formsAto %}
                          {# {% if formsAtos.vars.value != "" %} #}
                            {% if formsAtos.vars.value.product  == updateForm.vars.value.id %}
                              {% set updateAtoForm = _context['formsAto'][loop.index0] %}
                              {{ form_start(updateAtoForm, {'attr':{'id' : 'editSpe' ~ product.id}}) }}
                              {{ form_errors(updateAtoForm) }}
                              {{ form_row(updateAtoForm.length, {id: updateAtoForm.length.vars.id ~ loop.index0}) }}
                              {{ form_row(updateAtoForm.diameter, {id: updateAtoForm.diameter.vars.id ~ loop.index0}) }}
                              {{ form_row(updateAtoForm.capacity, {id: updateAtoForm.capacity.vars.id ~ loop.index0}) }}
                              {{ form_row(updateAtoForm.resistance, {id: updateAtoForm.resistance.vars.id ~ loop.index0}) }}
                              {{ form_row(updateAtoForm.filling, {id: updateAtoForm.filling.vars.id ~ loop.index0}) }}
                              {{ form_row(updateAtoForm.airflow, {id: updateAtoForm.airflow.vars.id ~ loop.index0}) }}
                              <span style='display:none;'> {{ form_rest(updateAtoForm) }}  </span>
                              {{ form_end(updateAtoForm) }} 
                            {% endif %}
                          {# {% endif %} #}
                        {% endfor %}
                        {% for formsDiys in  formsDiy %}
                          {# {% if updateForm.vars.value  != "" %} #}
                            {% if formsDiys.vars.value.product  == updateForm.vars.value.id %}
                              {% set updateDiyForm = _context['formsDiy'][loop.index0] %}
                              {{ form_start(updateDiyForm, {'attr':{'id' : 'editSpe' ~ product.id}}) }}
                              {{ form_errors(updateDiyForm) }}
                                {{ form_row(updateDiyForm.collection, {id: updateDiyForm.collection.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.Flavour, {id: updateDiyForm.Flavour.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.Dominant_notes, {id: updateDiyForm.Dominant_notes.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.TypeOfAroma, {id: updateDiyForm.TypeOfAroma.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.PG, {id: updateDiyForm.PG.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.VG, {id: updateDiyForm.VG.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.addedAlcohol, {id: updateDiyForm.addedAlcohol.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.TypeOfNicotine, {id: updateDiyForm.TypeOfNicotine.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.Nicotine, {id: updateDiyForm.Nicotine.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.Capacity, {id: updateDiyForm.Capacity.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.recommendedDosage, {id: updateDiyForm.recommendedDosage.vars.id ~ loop.index0}) }}
                                {{ form_row(updateDiyForm.maturationTime, {id: updateDiyForm.maturationTime.vars.id ~ loop.index0}) }}
                              <span style='display:none;'> {{ form_rest(updateDiyForm) }}  </span>
                              {{ form_end(updateDiyForm) }} 
                            {% endif %}
                          {# {% endif %}  #}
                        {% endfor %}
                        {% for formsFullkits in formsFullkit %}
                          {# {% if updateForm.vars.value  != "" %}  #}
                            {% if formsFullkits.vars.value.product == updateForm.vars.value.id %}
                              {% set updateFullkitForm = _context['formsFullkit'][loop.index0] %}
                              {{ form_start(updateFullkitForm, {'attr':{'id' : 'editSpe' ~ product.id}}) }}
                              {{ form_errors(updateFullkitForm) }}
                              {{ form_row(updateFullkitForm.power, {id: updateFullkitForm.power.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.power }}) }}
                              {{ form_row(updateFullkitForm.battery, {id: updateFullkitForm.battery.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.battery }}) }}
                              {{ form_row(updateFullkitForm.autonomy, {id: updateFullkitForm.autonomy.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.autonomy }}) }}
                              {{ form_row(updateFullkitForm.length, {id: updateFullkitForm.length.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.length }}) }}
                              {{ form_row(updateFullkitForm.diameter, {id: updateFullkitForm.diameter.vars.id ~ loop.index0,'attr':{'value' : updateFullkitForm.vars.value.diameter }}) }}
                              {{ form_row(updateFullkitForm.capacity, {id: updateFullkitForm.capacity.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.capacity }}) }}
                              {{ form_row(updateFullkitForm.resistance, {id: updateFullkitForm.resistance.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.resistance }}) }}
                              {{ form_row(updateFullkitForm.filling, {id: updateFullkitForm.filling.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.filling }}) }}
                              {{ form_row(updateFullkitForm.airflow, {id: updateFullkitForm.airflow.vars.id ~ loop.index0, 'attr':{'value' : updateFullkitForm.vars.value.airflow }}) }}
                              {# <span style='display:none;'> {{ form_rest(updateFullkitForm) }}  </span> #}
                              <input type="hidden" name='productId' id='productId'value= {{updateFullkitForm.vars.value.product}}>
                              {{ form_end(updateFullkitForm) }}
                            {% endif %}
                          {# {% endif %}  #}
                        {% endfor %} 
                      </div>
                      <div class="modal-footer">
                        <button type='button' name='update' class='btn btn-primary' id='updatemodalsubmit{{ product.id }}' productId='{{product.id}}'>Modifier</button>
                        {{ form_end(updateForm) }}
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div> 
              </td>
              <td><button type='button' class='delete_button' name='delete' productId={{product.id}}><i class="fas fa-times-circle"></i></button></td>
              {% if product.type == 'ecig' %}
                {% for ecig in Ecigs %}
                  {% if ecig.product == product.id %}
                    <td style='display:none'>{{ecig.power}}</td>
                    <td style='display:none'>{{ecig.battery}}</td>
                    <td style='display:none'>{{ecig.autonomy}}</td>
                    <td style='display:none'>{{ecig.operation}}</td>
                    <td style='display:none'>{{ecig.height}}</td>
                    <td style='display:none'>{{ecig.weight}}</td>
                    <td style='display:none'>{{ecig.width}}</td>
                    <td style='display:none'>{{ecig.depth}}</td>
                    <td style='display:none'>{{ecig.matter}}</td>
                    <td style='display:none'>{{ecig.numberOfBatteries}}</td>
                    <td style='display:none'>{{ecig.typeOfBatteries}}</td>
                    <td style='display:none'>{{ecig.rechargableByUsb}}</td>
                    <td style='display:none'>{{ecig.rechargingConnectors}}</td>
                    <td style='display:none'>{{ecig.maxPower}}</td>
                    <td style='display:none'>{{ecig.inputVoltage}}</td>
                    <td style='display:none'>{{ecig.outputVoltage}}</td>
                    <td style='display:none'>{{ecig.chargingVoltage}}</td>
                    <td style='display:none'>{{ecig.chargingCurrent}}</td>
                    <td style='display:none'>{{ecig.compatibleResistance}}</td>

                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                  {% endif %}
                {% endfor %}
              {% elseif product.type == 'eliquid' %}
                {% for eliquid in Eliquids %}
                  {% if eliquid.product == product.id %}
                    <td style='display:none'>{{eliquid.DominantNotes}}</td>
                    <td style='display:none'>{{eliquid.Flavour}}</td>
                    <td style='display:none'>{{eliquid.Nicotine}}</td>
                    <td style='display:none'>{{eliquid.Capacity}}</td>
                    <td style='display:none'>{{eliquid.Origin}}</td>
                    <td style='display:none'>{{eliquid.PG}}</td>
                    <td style='display:none'>{{eliquid.VG}}</td>
                    <td style='display:none'>{{eliquid.TypeOfNicotine}}</td>
                    <td style='display:none'>{{eliquid.TypeOfAroma}}</td>
                    <td style='display:none'>{{eliquid.addedAlcohol}}</td>
                    <td style='display:none'>{{eliquid.water}}</td>
                    <td style='display:none'>{{eliquid.recommendedDosage}}</td>
                    <td style='display:none'>{{eliquid.maturationTime}}</td>
                    <td style='display:none'>{{eliquid.collection}}</td>
                    
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                  {% endif %}
                {% endfor %}                  
              {% elseif product.type == 'ato' %}
                {% for ato in Atos %}
                  {% if ato.product == product.id %}
                    <td style='display:none'>{{ato.Capacity}}</td>
                    <td style='display:none'>{{ato.length}}</td>
                    <td style='display:none'>{{ato.diameter}}</td>
                    <td style='display:none'>{{ato.resistance}}</td>
                    <td style='display:none'>{{ato.filling}}</td>
                    <td style='display:none'>{{ato.airflow}}</td>
                    
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                  {% endif %}
                {% endfor %}
              {% elseif product.type == 'diy' %}
                {% for diy in Diys %}
                  {% if diy.product == product.id %}
                    <td style='display:none'>{{diy.DominantNotes}}</td>
                    <td style='display:none'>{{diy.Flavour}}</td>
                    <td style='display:none'>{{diy.Nicotine}}</td>
                    <td style='display:none'>{{diy.Capacity}}</td>
                    <td style='display:none'>{{diy.Origin}}</td>
                    <td style='display:none'>{{diy.PG}}</td>
                    <td style='display:none'>{{diy.VG}}</td>
                    <td style='display:none'>{{diy.TypeOfNicotine}}</td>
                    <td style='display:none'>{{diy.TypeOfAroma}}</td>
                    <td style='display:none'>{{diy.addedAlcohol}}</td>
                    <td style='display:none'>{{diy.water}}</td>
                    <td style='display:none'>{{diy.recommendedDosage}}</td>
                    <td style='display:none'>{{diy.maturationTime}}</td>
                    <td style='display:none'>{{diy.collection}}</td>

                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>
                    <td style='display:none'>néant</td>                    
                  {% endif %}
                {% endfor %}
              {% elseif product.type == 'fullKit' %}
                {% for fullkit in Fullkits %}
                  {% if fullkit.product == product.id %}
                    <td style='display:none'>{{fullkit.power}}</td>
                    <td style='display:none'>{{fullkit.battery}}</td>
                    <td style='display:none'>{{fullkit.autonomy}}</td>
                    <td style='display:none'>{{fullkit.operation}}</td>
                    <td style='display:none'>{{fullkit.height}}</td>
                    <td style='display:none'>{{fullkit.weight}}</td>
                    <td style='display:none'>{{fullkit.width}}</td>
                    <td style='display:none'>{{fullkit.depth}}</td>
                    <td style='display:none'>{{fullkit.matter}}</td>
                    <td style='display:none'>{{fullkit.numberOfBatteries}}</td>
                    <td style='display:none'>{{fullkit.typeOfBatteries}}</td>
                    <td style='display:none'>{{fullkit.rechargableByUsb}}</td>
                    <td style='display:none'>{{fullkit.rechargingConnectors}}</td>
                    <td style='display:none'>{{fullkit.maxPower}}</td>
                    <td style='display:none'>{{fullkit.inputVoltage}}</td>
                    <td style='display:none'>{{fullkit.outputVoltage}}</td>
                    <td style='display:none'>{{fullkit.chargingVoltage}}</td>
                    <td style='display:none'>{{fullkit.chargingCurrent}}</td>
                    <td style='display:none'>{{fullkit.compatibleResistance}}</td>

                    <td style='display:none'>{{fullkit.Capacity}}</td>
                    <td style='display:none'>{{fullkit.length}}</td>
                    <td style='display:none'>{{fullkit.diameter}}</td>
                    <td style='display:none'>{{fullkit.resistance}}</td>
                    <td style='display:none'>{{fullkit.filling}}</td>
                    <td style='display:none'>{{fullkit.airflow}}</td>
                  
                    <td style='display:none'>data</td>
                                       
                  {% endif %}
                {% endfor %}
              {% else %}
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>
                <td style='display:none'>data</td>  
              {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <script>
    $(".custom-file-input").on("change", function() {
        const fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

    if(document.getElementsByName('addProduct')[0][0].value === '')
    {
      document.querySelector("form[name='eliquid']").style.display = 'none';
      document.querySelector("form[name='ecig']").style.display = 'none';
      document.querySelector("form[name='ato']").style.display = 'none';
      document.querySelector("form[name='accessory']").style.display = 'none';
      document.querySelector("form[name='diy']").style.display = 'none';
      document.querySelector("form[name='fullkit']").style.display = 'none';
    }
    document.getElementsByName('addProduct')[0][0].addEventListener('input', function(){
      switch(document.getElementsByName('addProduct')[0][0].value)
      {
        case 'eliquid':
          document.querySelector("form[name='eliquid']").style.display = 'unset';
          document.querySelector("form[name='ecig']").style.display = 'none';
          document.querySelector("form[name='ato']").style.display = 'none';
          document.querySelector("form[name='accessory']").style.display = 'none';
          document.querySelector("form[name='diy']").style.display = 'none';
          document.querySelector("form[name='fullkit']").style.display = 'none';
          break;
        case 'ecig':
          document.querySelector("form[name='ecig']").style.display = 'unset';
          document.querySelector("form[name='eliquid']").style.display = 'none';
          document.querySelector("form[name='ato']").style.display = 'none';
          document.querySelector("form[name='accessory']").style.display = 'none';
          document.querySelector("form[name='diy']").style.display = 'none';
          document.querySelector("form[name='fullkit']").style.display = 'none';
          break;
        case 'ato':
          document.querySelector("form[name='ato']").style.display = 'unset';
          document.querySelector("form[name='eliquid']").style.display = 'none';
          document.querySelector("form[name='ecig']").style.display = 'none';
          document.querySelector("form[name='accessory']").style.display = 'none';
          document.querySelector("form[name='diy']").style.display = 'none';
          document.querySelector("form[name='fullkit']").style.display = 'none';
          break;
        case 'accessoire':
          document.querySelector("form[name='accessory']").style.display = 'unset';
          document.querySelector("form[name='eliquid']").style.display = 'none';
          document.querySelector("form[name='ecig']").style.display = 'none';
          document.querySelector("form[name='ato']").style.display = 'none';
          document.querySelector("form[name='diy']").style.display = 'none';
          document.querySelector("form[name='fullkit']").style.display = 'none';
          break;
        case 'diy':
          document.querySelector("form[name='diy']").style.display = 'unset';
          document.querySelector("form[name='eliquid']").style.display = 'none';
          document.querySelector("form[name='ecig']").style.display = 'none';
          document.querySelector("form[name='ato']").style.display = 'none';
          document.querySelector("form[name='accessory']").style.display = 'none';
          document.querySelector("form[name='fullkit']").style.display = 'none';
          break;
          case 'fullKit':
            document.querySelector("form[name='diy']").style.display = 'none';
            document.querySelector("form[name='eliquid']").style.display = 'none';
            document.querySelector("form[name='ecig']").style.display = 'none';
            document.querySelector("form[name='ato']").style.display = 'none';
            document.querySelector("form[name='accessory']").style.display = 'none';
            document.querySelector("form[name='fullkit']").style.display = 'unset';
            break;
      }
    }) 
  </script>
{% endblock %}
